.header {
    background-color: #fff;
    color: #33363d;
    height: 70px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: 600;    
} 

a {
    font-size: 18px;
    font-weight: 600;  
    background-color: #fff;
    color: #33363d;  
    border: 2px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
}

.log {
    border: 2px solid #33363d;    
    margin-right: 20px;
}

@media (max-width: 600px){
    .header {
        height: 60px;
        padding: 0 20px;
    }
    
    .title {
        font-size: 15px;
    } 
    
    a {
        font-size: 15px;
    }
    
    .log {
        margin-right: 10px;
    }
}